<p-panel header="Pipes Numéricos" class="p-2">
  <p>
    Pipes incluidos en Angular - Usualmente en el Common Module
  </p>
</p-panel>


<div class="grid ">
  <div class="col-12 md:col-4">
    <p-card header="ventas netas">
      {{ totalSells + 1235 | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="ventas brutas">
      {{ totalSells | currency:'MXN':'symbol-narrow':'1.4-4' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ganacias porcentuales">
      {{ totalSells | percent:'1.2-2' }}
    </p-card>
  </div>



</div>
